@font-face {
    font-family:'MetroLiteLT-Two';
    src: url('../font/MetroLiteLT-Two.ttf') format('truetype');
}
*{
    font-family: 'MetroLiteLT-Two';
}
html{
  box-sizing: border-box;
}
*, *:before, *:after{
  box-sizing: inherit;
}
body{
  margin: 0;
  padding: 0;
  background-color: #e1e1e1;
}

header{
  height: 187px;
  background-color: #00063b;
    box-sizing: initial;
}
header img{
  width: 180px;
  margin: 0 0 0 10%;
  padding:  0 0 0 0;
  float: left;
}
nav ul{
  list-style: none;
    margin-right: 10%;
    float: right;
}
.navigation > ul >li{
  float: left;
}
.navigation{
  background-color: red;
}
.navigation nav{
  width: 1200px;
  position: relative;
}
.navigation ul li a {
  margin-top: 70px;
  display: inline-block;
  width: 140px;
  text-align: center;
  text-decoration: none;
  color: white;
  font-size: 30px;
  margin-right: 20px;
  padding-left: 20px;
}
.navigation ul li ul li a{
  font-size: 25px;
  padding: 0;
  margin: 0;
  text-align: left;
}
.navigation ul li:nth-child(2) a{
  width: 285px;
}
.navigation ul li:nth-child(3) a{
  width: 270px;
}
.navigation ul li a:hover{
  color: cyan;
}
#ingresar{
  color: blue;
}
/*-----------Segundo nivel navigation----------------*/
.navigation ul ul{
  display: none;
  position: absolute;
  background-color: lightblue;
}
.navigation ul li:hover > ul{
  display: block;
}
.navigation ul li:hover{
  background-color: rgba(0, 184, 228, 1);
}
div.contenido::after{
  content: '';
  display: block;
  clear: both;
}
/*-----------MAIN----------------*/
 .main{
  background-image: url(../img/portada.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom center;
  height: 130vh;
  margin: 0 0 0 0;
  padding: 0 0 0 0;
  position: relative;
  z-index: -5;
}
.main img{
    
}
.main h4{
  font-size: 50px;
  float: right;
  padding: 15px 0 0 0;
  margin:  2% 13% 0 0;
}
.cotizar{
  background-color: rgba(0, 0, 0, 0.5);;
  width: 35%;
  height: 70%;
  float: right;
  margin: 8% -20% 0 0;
}
.cotizar p{
  color: white;
  font-size: 3em;
  padding: 26px 20px 0 27px;
  margin: 0 0 0 0;
}
.cotizar input{
  background-color: #07137b;
  border: solid #747ed6 5px;
  border-radius: 1em;
  box-shadow: 0 0 1.2em #fff;
  width: 66%;
  height: 30%;
  padding: 0 0 0 0;
  margin: 12% 15% 5% 18%;
  font-size: 3em;
  color: white;
}
.cotizar a{
  color: cyan;
  font-size: 2em;
  padding-left: 2%;
  text-decoration: none;
}
.cotizar i{
  transform: rotate(45deg);
  color: cyan;
  font-size: 20px;
  padding: 0 1% 0 2%;
}
/*----------SECCION NOTICIAS----------------*/
.noticias h2{
  font-size: 70px;
  width: 100%;
  padding: 2.5% 0 0 9%;
  margin: 0 0 0 0;
  color: #00063b;
    text-align: center;
}
.noticias .linea{
    width: 30%;
    height: 1px;
    border: solid #00063b;
    margin: 5% 0 0 0;
    display: block;
}
.noticias .izquierda{
    float: left;
    margin-left: 10%;
    
}
.noticias .derecha{
    float: right;
    margin-right: 10%;
}
/*hr {
    display: block;
    height: 1px;
    width: 65%;
    border: 0;
    border-top: 3px solid #00063b;
    margin: -35px 0 0 30%;
    color: #00063b;
}*/
.noticias ul{
    float: left;
    margin-left: 8%;
}
.noticias ul li{
  display: block;
  float: left;
  border-top: solid 70px;
  width: 23.4%;
  height: 22%;
  padding: 1% 0 0 0%;
  margin: 3% 9% 0 0;
  font-size: 19px;
  text-align: center;
}
.noticias ul li.oscuro{
    border-color: #00063b;
    color: #b3baf8;
}
.noticias ul li.claro{
    border-color: #b3baf8;
    color: #00063b;
}
.noticias ul li p{
    margin-top: -16%;
}
.noticias ul li img{
    margin-top: -0.7%;
}
.cursor-noticias{
  color: rgba(175,55,33,0.5);
  font-size: 45px;
  margin-left: 45%;
}
.fas{
    color: rgb(143, 155, 155);
    margin-top: 3%;
}
.fas:hover{
  color: rgb(56, 57, 58);
  font-size: 50px;
}
/*----------SECCION SOBRE NOSOTROS----------------*/
